.header img{
    height: 15vmin;
    display: block;
    margin: 10px auto;

}
.header nav{
    background-color: black;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav a:first-child{
    margin-left: 30px;
}
nav a:hover{
    background-color: gray;
    color:black;
    font-weight: bold;
}